.venv/
__pycache__/
.pytest_cache/
*.py[cod]
*.egg-info/
frontend/node_modules/
frontend/dist/
backend/static
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
goblin-data/
*.goblin.lock
.env
